/* Dashboard general */
.tabs {
  display: flex;
  justify-content: space-evenly;
  max-width: 500px;
  gap: 0.6rem;
  border-bottom: 1px solid #ccc;
  padding: 1.5rem;
  margin: 0 auto;
}

.button-tab {
  border-radius: 20px;
  transition: border-color 0.25s, background-color 0.25s, color 0.25s;
}

.button-tab.active {
  border-color: #646cff;
  background-color: #646cff;
  font-weight: 500;
}

.tab-content {
  padding: 2rem;
}

/* Dashboard Table */
.table-wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
  overflow-x: auto;
  padding-bottom: 2.5rem;
}
.table-wrapper.totals {
  max-width: 600px;
}

.data-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.9rem;
  white-space: nowrap;
}

.data-table tbody tr:hover {
  background-color: #535353;
}

.data-table th,
.data-table td {
  border: 1px solid #e5e7eb;
  padding: 0.6rem 1rem;
  text-align: left;
}

.data-table th {
  background-color: #646cff;
}

.data-table tr:nth-child(even) {
  background-color: #3d3d3d;
}

@media (max-width: 580px) {
  .hide-on-small {
    display: none;
  }
}

.actions {
  display: flex;
  justify-content: space-around;
}
.actions svg {
  cursor: pointer;
}

/* Dashboard Plot */
.plot-container { 
  transition: opacity 0.4s ease-in-out;
  opacity: 1;
  width: 100%;
  max-width: 100%;
  height: 400px;
  overflow: hidden;
  margin: "0 auto";
}
.plot-container.fade-out {
  opacity: 0.3;
}

.plot-container.fade-in {
  opacity: 1;
}

/* Dashboard Insights */
.insights-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(90px));
  gap: 1rem;
  max-width: 600px;
  padding: 1.5rem;
  margin: 0 auto;
}

.insight-card {
  border-radius: 0.75rem;
  box-shadow: 0 2px 6px #7f84e4b0;
  text-align: center;
}

.insight-card.pos {
  background: #17b117;
}

.insight-card.neg {
  background: #ce4646ff;
}

.insight-card.two-col {
  grid-column: span 2;
}

/* Modal */
.form-group input,
.form-group select {
  width: 100%;
  padding: 8px 10px;
  font-size: 0.95rem;
  outline: none;
}

.form-group input:focus,
.form-group select:focus {
  border-color: #4f46e5;
}

.form-group label {
  display: block;
  font-weight: 500;
  margin-bottom: 4px;
}

.form-group {
  margin-bottom: 1rem;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(40%) sepia(60%) saturate(400%) hue-rotate(200deg);
  cursor: pointer;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: #242424;
  padding: 1.5rem;
  border-radius: 4px;
  max-width: 500px;
  width: 100%;
}

.modal-actions {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}