/* NAVIGATION */
.navbar {
  position: sticky;
  top: 0;
  background-color: #1a1a1a;
  color: white;
  width: 100%;
  z-index: 1000;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1rem;
  margin: 0 auto;
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.75rem;
  font-weight: bold;
  color: #fff;
  text-decoration: inherit;
}

.nav-logo img {
  height: 1em;
  width: 1em;
}

.menu-toggle {
  display: none;
  background: none;
  font-size: 1rem;
  border-color: #ddd;
}

.nav-links {
  display: flex;
  font-size: 1.25rem;
  gap: 1.5rem;
}

.nav-links a {
  color: #ddd;
  text-decoration: inherit;
}
.nav-links a:hover {
  color: #535bf2;
}

@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    background-color: #1a1a1a;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    gap: 0rem;
  }

  .nav-links.active {
    display: flex;
  }

  .nav-links a {
    padding: 0.75rem 1rem;
    border-top: 1px solid #333;
  }
}

/* ACCOUNT */
.acc-container{
  display: flex;
  flex-direction: column;
  padding: 2em;
  gap: 1em;
  max-width: 300px;
  margin: 0 auto;
  border-top: 1px solid #ccc;
}

/* HOME */
.home-container {
  text-align: center;
  padding: 2rem;
}

.logos {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.logo {
  height: 6em;
  padding: 1.5em;
  transition: filter 300ms;
  will-change: filter;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #4e55e2c4);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #15a7cfaa);
}

.logo.flask:hover {
  filter: drop-shadow(0 0 2em #c5c5c5bd);
}

.logo.postgres:hover {
  filter: drop-shadow(0 0 2em #336791aa);
}

@media (max-width: 600px) {
  .logo {
    height: 4em; 
    width: 4em;
    padding: 0.5em;
  }
}

.card {
  margin: 2rem auto;
  padding: 1.5rem;
  border-radius: 12px;
  background: #413f3f;
  max-width: 600px;
  text-align: left;
}

/* FOOTER */
.social-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 0 2rem;
}

.social-logo {
  width: 1.5em;
  transition: filter 0.3s;
}

.social-logo:hover {
  filter: drop-shadow(0 0 0.5em #646cffaa);
}
