:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  margin: 0 auto;
  text-align: center;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;  
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #1a1a1a;
  color: #ddd;
  text-align: center;
  z-index: 1000;
  padding: 0 1em;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
  cursor: pointer;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 400;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

form {
  display: flex;
  flex-direction: column;
  padding: 1em;
  gap: 1em;
  width: 90%;
  max-width: 300px;
  margin: 2rem auto;
}

input {
  height: 2em;
}

select {
  appearance: none;

  padding: 0.6em 1em;
  border-radius: 8px;
  font-family: inherit;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
  transition: border-color 0.25s, background-color 0.25s;
}

select:hover,
select:focus {
  border-color: #646cff;
  outline: none;
}

h1, h2, h3, h4, h5, h6, p {
  caret-color: transparent;
}

